<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete profile</title>
</head>
<body>
    <h1>Hi <%= displayName %>, Please complete your profile</h1>
    <form method="POST" action="/complete-profile/submit">
        <input required id="college" name="college" placeholder="What college do you go to?" type="text"></input>
        <br>
        <input id="subjects-input" placeholder="Enter your subjects" type="text"></input><button type="button" onclick="addSubject()">Add</button>
        <br>
        <ul id="subjects-list">
            
        </ul>
        <p id="error" style="color:red;"></p>
        <input type="hidden" id="subjects-array" name="subjects-array"></input>
        <button id="submit-button" type="submit" disabled>Submit</button>
    </form>

    <script>
        const addSubject = () => {
            console.log("ADD SUBJECT")
            const submitButton = document.getElementById("submit-button");
            const subjectList = document.getElementById("subjects-list");
            const subject = document.getElementById("subjects-input").value;
            const subjectsNodeList = document.getElementsByTagName("li");
            const subjectsArray = document.getElementById("subjects-array");
            if (subject) {
                submitButton.disabled = false;
                document.getElementById("error").textContent = "";
                subjectList.innerHTML += ("<li>" + subject + "</li>");
                subjectsArray.value += subject + '|'
            } else {
                document.getElementById("error").textContent = "Subject cannot be blank.";
            };
            

        }
        
    </script>
</body>
</html>