<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="#" class="header__logo">LOGO</a>
      <div class="header__right">
        <button class="header__buttons">Sign Up</button>
        <button class="header__buttons">Log In</button>
      </div>
    </div>

    <div class="introduction">
      <h1 class="introduction__headlineOne">INTRODUCING</h1>
      <h1 class="introduction__headlineTwo">CONNECTIFY</h1>
      <h3 class="introduction__description">Project Description</h3>
      <button class="introduction__signUpButton">Create an account</button>
    </div>
  </body>
</html>
